JWT_ACCESS_SECRET="stringrandom25"
JWT_REFRESH_SECRET="randomstring25"
MAIN_ADMIN_EMAIL="anything@example.com"
URL="https://example.com"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"